<div class="container-all">
  <a id="home"></a>
  <div class="section home-background d-flex">

    <section class="home">
        <div class="home-title">
          <img class="profile-photo" src="https://moorphyne.github.io/portfolio/assets/images/delphine.jpg" alt="">
          <div class="home-text">
            <h1>Delphine Cretegny</h1>
            <h5>UI/UX Designer - Front End Developer</h5>
            <a href="">My Resume</a>
          </div>
        </div>
    </section>

    <%= render 'shared/navbar' %>
  </div>
<!-- ABOUT ME -->
  <a id="about-me"></a>
  <div class="section bio-background">
    <section class="bio">
        <%= render 'shared/bio' %>
    </section>
  </div>
<!-- SKILLS -->
  <a id="skills"></a>
  <div class="section skill-background">
    <section class="skill">
      <%= render 'skills/skills_index' %>
    </section>
  </div>
<!-- PROJECTS -->
  <a id="projects"></a>
  <section class="">
    <%= render 'projects/projects_index' %>
  </section>
<!-- EDUCATION -->
  <a id="education"></a>
  <section class="">
    <%= render 'educations/educations_index' %>
  </section>
<!-- INTERESTS -->
  <a id="interests"></a>
  <section class="">

  </section>
<!-- CONTACT -->
  <a id="contact"></a>
  <section class="">

  </section>

</div>
