<div class="container-all">
  <a id="section0"></a>
  <div class="section home-background d-flex">

    <section class="home">
        <div class="home-title">
          <img class="profile-photo" src="https://moorphyne.github.io/portfolio/assets/images/delphine.jpg" alt="">
          <div class="home-text">
            <h1>Delphine Cretegny</h1>
            <h5>UI/UX Designer - Front End Developer</h5>
            <a href="">My Resume</a>
          </div>
        </div>
    </section>

    <%= render 'shared/navbar' %>
  </div>

  <a id="section1"></a>
  <div class="section bio-background">
    <section class="bio">
        <%= render 'shared/bio' %>
    </section>
  </div>

  <a id="section2"></a>
  <section class="">
      <%= render 'skills/skills_index' %>
  </section>

  <a id="section3"></a>
  <section class="">
    <%= render 'projects/projects_index' %>
  </section>

  <a id="section4"></a>
  <section class="">
    <%= render 'educations/educations_index' %>
  </section>


</div>
